@import "../../../../shared-styles.scss";

.textSymbol {
  height: calc(100% - 5px);

  display: flex;
  align-items: center;

  box-sizing: content-box;
}

.textSymbol:hover {
  border-bottom: 5px solid $gray-color;
}

.textSymbol.active,
.textSymbol.active:hover {
  border-bottom: 5px solid $white-color;
}

.linkNumber {
  font-weight: bold;
  margin-right: 10px;
}

.sliderSymbol {
  $radius: 30px;
  width: $radius;
  height: $radius;

  border-radius: 50%;

  background-color: $dark-gray-color;
}

.sliderSymbol.active,
.sliderSymbol.active:hover {
  background-color: $white-color;
}

.sliderSymbol:hover {
  background-color: $gray-color;
}

.numberedCircleSymbol {
  $radius: 100px;
  width: $radius;
  height: $radius;

  border-radius: 50%;

  border: 1px solid $gray-color;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-family: $font-family-regular;

  color: $white-color;

  a {
    text-decoration: none;
  }
}

.numberedCircleSymbol.active,
.numberedCircleSymbol.active:hover {
  background-color: $white-color;
  color: $black-color;
}

.numberedCircleSymbol:hover {
  border-color: $white-color;
}
