@import "../../shared-styles.scss";

.navigation {
  height: 100%;
  width: 100%;

  ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    list-style-type: none;

    a {
      text-decoration: none;
    }

    span {
      font-size: 20px;
      color: $white-color;
    }
  }
}