@import "../../shared-styles.scss";

.navigation {
  height: 100%;
  width: 100%;

  ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;

    li {
      height: calc(100% - 5px);

      display: flex;
      align-items: center;

      box-sizing: content-box;
    }

    li:hover {
      border-bottom: 5px solid gray;
    }

    li.active,
    li.active:hover {
      border-bottom: 5px solid $white-color;
    }

    a {
      text-decoration: none;
    }

    span {
      font-size: 20px;
      color: $white-color;
    }

    .linkNumber {
      font-weight: bold;
      margin-right: 10px;
    }

    .linkLabel {
    }
  }
}
