@import "../../shared-styles";

.home {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "intro exploreButton";

  align-items: center;
  justify-items: center;

  .intro {
    grid-area: intro;

    max-width: 450px;
    justify-self: left;

    p {
      text-align: justify;
    }
  }
}
