@import "../../shared-styles.scss";

$star-image-size: 60px;

.header {
  position: relative;

  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.crossingLine {
  position: absolute;

  top: 50%;
  left: 15%;
  width: calc(45% - 15% - $star-image-size);

  border: 1px solid $dark-gray-color;

  z-index: 1;
}

.starImage {
  width: $star-image-size;
  height: $star-image-size;

  margin-left: calc((20vh - $star-image-size) / 2);
}

.starImage:hover {
  cursor: pointer;
}

.navigation {
  height: 100px;
  width: 60%;

  padding: 0px 100px;

  backdrop-filter: blur(35px);
}

.hamburger {
  $hambuger-size: 30px;
  width: $hambuger-size;
  height: $hambuger-size;
  margin-right: 50px;
}

@media only screen and (max-width: 600px) {
  .crossingLine {
    visibility: hidden;
  }
}
