@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

$nav-text-font-size: 16px;
$black-color: #0b0d17;
$light-color: #d0d6f9;
$white-color: #ffffff;
$gray-color: gray;
$dark-gray-color: rgb(51, 51, 51);

// $font-family-regular: "Bellefair Regular";
$font-family-regular: "Bellefair", serif;
// $font-family-regular: "Bellefair Regular Condensed";
$font-family-condensed: "Bellefair", serif;

h1 {
  font-size: 150px;
  margin: 10px 0px 10px;
}

h2 {
  font-size: 100px;
  margin: 10px 0px 10px;
}

h3 {
  font-size: 56px;
  margin: 10px 0px 10px;
}

h4 {
  margin: 10px 0px 10px;
  font-size: 32px;
}

h5 {
  font-size: 26px;
  letter-spacing: 3px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: $font-family-regular;
}

h5,
span,
p {
  font-weight: normal;
  font-family: $font-family-condensed;
  color: $light-color;
}

p {
  font-size: 20px;
  line-height: 25px;
}

.subHeading1 {
  font-size: 28px;
  font-family: $font-family-regular;
  color: $white-color;
}

.subHeading2 {
  font-size: 14px;
  font-family: $font-family-condensed;
  color: $light-color;
  letter-spacing: 2.35px;
}

.navText {
  font-size: 16px;
  font-family: $font-family-condensed;
  letter-spacing: 2.7px;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 100px;
  }

  h5 {
    font-size: 20px;
    letter-spacing: 0;
  }
}
